/* 鱼塘固定宽度 */
canvas:not(#ribbon-canvas), #web_bg {
    margin-bottom: -0rem;
    display: block;
    width: 100%;
    height: 160px
}

/* 字体 */
@font-face { font-family:MyFont;
  src: url(https://cdn.jsdelivr.net/gh/mobai-001/mobai-001.github.io/Mobai_Folder/Mobai_Customization/Font/webmo.woff2)}

@font-face { font-family:CodeFont;
  src: url(https://cdn.jsdelivr.net/gh/mobai-001/mobai-001.github.io/Mobai_Folder/Mobai_Customization/Font/JetBrainsMono-Medium-3.woff2)}

/* 滚动条 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* 文章页图片圆角 */
#article-container img {
  border-radius: 8px
}

/* 文章页顶部图左右下圆角 */
#page-header.post-bg:before {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#page-header.post-bg {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* 文章底部copyright圆角 */
.layout_post .post-copyright{
  border-radius: 8px
}

/* 文章底部上一篇下一篇圆角 */
#pagination.pagination-post {
  border-radius: 8px
}

/* 文章页目录块圆角 */
#sidebar .sidebar-toc .toc-link.active {
  border-radius: 8px
}

/* 网站右下角按钮圆角 */
#rightside > div > button, #rightside > div > a {
  border-radius: 6px
}

/* (主页)右侧边栏Follow Me圆角 */
#aside_content .card-info #card-info-btn {
  border-radius: 8px
}

.button--animated:hover:before {
  border-radius: 8px
}

/* 首页底部文章页数按钮圆角 */
#pagination .page-number.current {
  border-radius: 8px
}

/* rightMenu右键菜单 */
#rightMenu{
	display: none;
	position: fixed;
  padding: 0 0.25rem;
	width: 9rem;
	height: fit-content;
	top: 10%;
	left: 10%;
	background-color: var(--heo-card-bg);
  color: var(--heo-fontcolor);
	border-radius: 12px;
	z-index: 102;
  border: var(--style-border);
  transition: 0.3s;
}
#rightMenu:hover{
  border: var(--style-border-hover);
  box-shadow: var(--heo-shadow-theme);
}
#rightMenu .rightMenu-group{
	padding: 0.35rem 0.3rem;
}
#rightMenu .rightMenu-group:not(:nth-last-child(1)){
	border-bottom: 1px dashed var(--heo-theme-op);
}
#rightMenu .rightMenu-group.rightMenu-small{
	display: flex;
	justify-content: space-between;
}
#rightMenu .rightMenu-group .rightMenu-item{
	border-radius: 8px;
	transition: 0.3s;
  cursor: pointer;
}

#rightMenu .rightMenu-line .rightMenu-item{
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}
#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item{
	display: flex;
}
#rightMenu .rightMenu-group .rightMenu-item:hover{
	background-color: var(--heo-theme);
  color: var(--heo-white);
  box-shadow: var(--heo-shadow-theme);
}
#rightMenu .rightMenu-group .rightMenu-item i{
	display: inline-block;
	text-align: center;
	line-height: 1.5rem;
	width: 1.5rem;
	padding: 0 0.25rem;
}
#rightMenu .rightMenu-line .rightMenu-item i{
  margin: 0 0.25rem;
}
#rightMenu .rightMenu-group .rightMenu-item span{
	line-height: 1.5rem;
}
#rightmenu-mask{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--heo-maskbg);
  top: 0;
  left: 0;
  display: none;
  z-index: 101;
  margin: 0!important;
}

/* 搜索页面圆角 */
#algolia-search {
  border-radius: 8px
}

/* 主页顶部图圆角 */
#page-header.full_page {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* 主页底部文字上调 */
#footer-wrap {
  padding: 2mm 1mm;
}

/* Link卡片 */
#article-container a:hover {
  text-decoration: none;
  background: var(--heo-main);
  border: none;
  color: var(--heo-white);
  border-radius: 4px
}

#article-container a {
  color: var(--heo-fontcolor);
}

#article-container .tag-Link {
  background: var(--heo-secondbg);
  border-radius: 8px!important;
  display: flex;
  border: var(--style-border);
  flex-direction: column;
  padding: .3rem 1rem .6rem;
  border-width: 1px!important;
  margin-top: 1rem
}

#article-container .tag-Link:hover {
  border: var(--style-border-hover)
}

#article-container .tag-Link .tag-link-tips {
  border-bottom: var(--style-border-always);
  padding-bottom: 4px;
  font-size: .6rem;
  color: var(--heo-gray);
  font-weight: 400;
  pointer-events: none
}

#article-container .tag-Link:hover .tag-link-tips {
  color: var(--heo-white);
  opacity: .6
}

#article-container .tag-Link .tag-link-bottom {
  display: flex;
  margin-top: .5rem;
  align-items: center;
  justify-content: space-around;
  pointer-events: none
}

#article-container .tag-Link .tag-link-bottom .tag-link-left {
  width: 60px;
  min-width: 60px;
  height: 60px;
  background-size: cover!important;
  border-radius: 8px;
  background: var(--heo-card-bg);
  pointer-events: none;
  display: flex
}

#article-container .tag-Link .tag-link-bottom .tag-link-left i {
  padding: 0;
  margin: auto;
  font-size: 24px;
  color: var(--heo-fontcolor)
}

#article-container .tag-Link .tag-link-bottom .tag-link-right {
  margin-left: 1rem;
  pointer-events: none
}

#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-title {
  font-size: 16px;
  line-height: 1.2;
  pointer-events: none;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden
}

#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-sitename {
  font-size: .7rem;
  color: var(--heo-gray);
  font-weight: 400;
  margin-top: 8px;
  pointer-events: none;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

#article-container .tag-Link:hover .tag-link-bottom .tag-link-right .tag-link-sitename {
  color: var(--heo-white);
  opacity: .6
}

#article-container .tag-Link .tag-link-bottom i {
  margin-left: auto;
  padding-left: .5rem;
  pointer-events: none
}

/* Fancybox图片查看优化 + 除Bug */
#article-container a.fancybox {
  border-bottom: 0;
  padding: 0;
  margin: auto;
  display: contents;
  width: fit-content;
}

#article-container a.fancybox img {
  cursor: zoom-in
}

/* SnackBar弹窗样式修改 */
.snackbar-container {
  background: var(--heo-main)!important;
  color: var(--heo-white)!important;
  border-radius: 0!important;
  display: flex;
  justify-content: center!important;
  max-width: none!important;
  min-width: 100%!important;
  margin: 0!important;
  left: 0!important;
  height: 60px!important;
  transform: none!important
}

.snackbar-container p {
  font-weight: 700!important;
  text-align: center!important;
  font-size: .8rem!important;
  display: flex!important;
  justify-content: center!important
}

.snackbar-container .action {
  color: var(--heo-white)!important;
  padding: 4px 6px!important;
  font-weight: 700;
  border-radius: 8px!important;
  transition: .3s;
  border: var(--style-border)!important
}

.snackbar-container .action:hover {
  color: var(--heo-main)!important;
  background: var(--heo-white)!important
}

.snackbar-container::after {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--heo-white);
  opacity: .1;
  content: "";
  animation: snackbar-progress var(--heo-snackbar-time) linear forwards;
  pointer-events: none
}

@keyframes snackbar-progress {
  from {
      width: 0
  }

  to {
      width: 100%
  }
}
